<style>
body, html {
  margin: 0;
   }

   .container {
    position: relative;
    min-height: 119vh;  
}


  .navbar {
  width: 100%;
   }

  .login-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%
  }

  .login-nav span,
  .navbar-brand,
  .login-btn {
      font-family: 'Proxima Nova', sans-serif; /* Cambio de tipografía */
      font-weight: bold; /* Estilo bold */
      color: white; /* Color blanco */
  }

  .navbar-brand {
      font-size: 24px; /* Tamaño de letra más grande */
      text-decoration: none;
  }

  .navbar-text {
    justify-content: center;
    margin: 0;
    margin-left: 70px;
    flex-grow: 1;
    text-align: center;
}

  .login-btn {
      background: none; /* Elimina el fondo */
      border: none; /* Elimina el borde */
      text-decoration: none; /* Elimina el subrayado */
  }

   a {
      text-decoration: none; /* Elimina el subrayado */
      color: lightgray; /* Cambia el color a gris */
      text-align: center; /* Centra el texto */
      align-items: center; /* Centra el contenido */
      margin: 5px 10px; /* Centra el elemento */
      font-family: 'Proxima Nova', sans-serif;

   }

   .centered-links {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}

.centered-links a {
  pointer-events: auto;    /* Habilita los clicks en los enlaces */
}

.form-wrapper {
margin-top: 20px;  /* Añadir una pequeña separación en la parte superior */
}

      .form-control {
          width: 100%;
          font-size: 16px;
          padding: 12px 20px;
          border: 1px solid lightgray;  
      }
      
      .btn-primary {
          font-size: 16px;
          padding: 12px 20px;
      }

    .category-block {
        border: 1px solid lightgray;
        padding: 15px;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category-block i {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .category-details {
        display: flex;
        justify-content: space-between;
        width: 100%
    }

    .category-link {
        text-align: center;
        width: 100%
        margin-top: 15px;
    }

    .horizontal-center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;  
}

.main-logo {
    position: absolute;
    bottom: 1px;
    right: 160px;
    width: 70px;
    height: auto;
}

</style>

<div class="container mt-5">
    <nav class="navbar navbar-expand-lg" style="background-color: #3778c2; padding: 20px 0">
        <div class="login-nav">
            <span class="navbar-text">
                Categories
            </span>
            <% if user_signed_in? %>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "login-btn" %>
        <% end %>
        </div>
    </nav>

    <div class="mt-5">
        <% @groups.each do |group| %>
            <div class="category-block">
                <i class="<%= group.icon %>" aria-label="<%= group.name %> Icon"></i>
                <div class="category-details">
                    <h3><%= group.name %></h3>
                    <p>Total: <%= group.entities.sum(:amount) %></p>
                </div>
                <div class="category-link">
                    <%= link_to 'View Transactions', group_entities_path(group) %>
                </div>
            </div>
        <% end %>

        <!-- Utilizando la clase para centrar "Add a new category" -->
        <div class="horizontal-center">
            <%= link_to 'Add a new category', new_group_path, class: "mt-4 btn btn-primary" %>
        </div>
    </div>
    <img src="<%= asset_path 'actions-logo-noback.PNG' %>" alt="Actions App Logo" class="main-logo">
</div>
