# app/views/groups/index.html.erb

<h1>Categories</h1>

<% @groups.each do |group| %>
  <div>
    <h3><%= group.name %></h3>
    <img src="<%= group.icon %>" alt="<%= group.name %> Icon">
    <p>Total: <%= group.entities.sum(:amount) %></p>
    <%= link_to 'View Transactions', group_entities_path(group) %>
  </div>
<% end %>

<%= link_to 'Add a new category', new_group_path %>

<% if user_signed_in? %>
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<% end %>
